<html>
    <head>
        <link href="/static/the_game_bazaar/css/bootstrap.css" rel="stylesheet">
        <script type="text/javascript" src="/static/the_game_bazaar/js/jquery-1.6.1.min.js"></script>
    </head>
    <body>
        {% include "the_game_bazaar/navbar.html" %}
        <div class="container">
	        <div class="page-header"><h1>Edit a Map!</h1></div>
	        <div class="row">
	        	<div class="span10">
	        		<div class="row">
	        			<div class="span5">
	        				<h3>Edit Maps:</h3>
							<form action="/editor/" method="POST">
					            {% csrf_token %}
						        <input name="map-id" type="text" placeholder="map-id" />
						        <button type="submit">Edit</button>
					        </form>
	        			</div>
	        		</div>
	        	</div>
	        </div>
		</div>
    </body>
</html>
