<html>
    <head>
        <link href="{{ STATIC_URL }}lib/css/bootstrap.css" rel="stylesheet">
        <script type="text/javascript" src="{{ STATIC_URL }}lib/js/jquery-1.6.1.min.js"></script>
    </head>
    <body>
        <!-- START NAVIGATION BAR -->
        {% include "lib/navbar.html" %}
        <script type="text/javascript">
            //mark page's active tab
            $('#navbar-edit').addClass('active');
        </script>
        <!-- END NAVIGATION BAR -->
        <div class="container">
	        <div class="page-header"><h1>Edit a Map!</h1></div>
	        <div class="row">
	        	<div class="span10">
	        		<div class="row">
	        			<div class="span5">
	        				<h3>Edit Maps:</h3>
	        				<table class="table table-striped">
	        					<thead><tr>
	        						<th>Map ID</th>
	        						<th>Map Name</th>
	        						<th># of players</th>
                                    <th>Actions</th>
	        					</tr></thead>
	        					<tbody>
	            				{% for map in maps %}
	            					<tr>
	            						<td>{{ map.id }}</td>
	            						<td>{{ map.map_name }}</td>
	            						<td>{{ map.num_players }}</td>
                                        <td><a class="btn" href="/editor/#{{ map.id }}">Edit</a></td>
	            					</tr>
	            				{% endfor %}
	            				</tbody>
	        				</table>
	        			</div>
                        <div class="span5">
                            <h3>Create maps:</h3>
                            <a class="btn btn-large" href="/editor/">Create new map!</a>
                        </div>
	        		</div>
	        	</div>
	        </div>
		</div>
    </body>
</html>
