<!DOCTYPE html>
<html>
    <head>
        <link href="static/the_game_bazaar/css/game.css" rel="stylesheet">
        <script type="text/javascript" src="static/the_game_bazaar/js/jquery-1.6.1.min.js"></script>
        <script type="text/javascript" src="static/the_game_bazaar/js/socket.io.js"></script>
        <script type="text/javascript" src="static/the_game_bazaar/js/game.js"></script>
    </head>
    <body>
        <div id='canvas-container'>
            <canvas id="game-canvas" width=800 height=800>You need canvas!</canvas>
        </div>
    </body>
</html>
