<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="static/jquery-1.6.1.min.js"></script>
        <script type="text/javascript" src="static/socket.io.js"></script>
        <script>    

        WEB_SOCKET_SWF_LOCATION = "/static/WebSocketMain.swf";
        WEB_SOCKET_DEBUG = true;
        
        // socket.io specific code
        var socket = io.connect("/chat");

        //close the socket when the window is closed       
        $(window).bind("beforeunload", function() {
            socket.disconnect();
        });

        function message (from, msg) {
            console.log("Got a message from the server ", from, " ", msg);
            $('#messages').append(from, ":", msg);
            $('#messages').append("<br />");
        }

        function clear () {
            $('#message').val('').focus();
        };

        // bind events to the socket
        socket.on('connect', function () {
            $('#messages').append('connected<br />');
        });
        
        //bind callack
        socket.on('msg_to_room', message);

        // bind stuff in DOM
        $().ready(function(){
            console.log('ready stuff');

            // bind emit on start game
            $('#start').submit(function () {
                console.log('submitted');
    	        socket.emit('user start', $('#message').val());
    	        clear();
                return false;
            });
        });
        </script>
    </head>
    <body>
        <div id="messages"></div>
        <form id="start">
          <input id="message">
          <button>Send</button>
        </form>
    </body>


</html>

