<head>
    <link href="/static/the_game_bazaar/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="/static/the_game_bazaar/js/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="/static/the_game_bazaar/js/login.js"></script>
    <script type="text/javascript" src="/static/the_game_bazaar/js/jquery.cookie.js"></script>
</head>

<body>
	<!-- START NAVIGATION BAR -->
    {% include "the_game_bazaar/navbar.html" %}
    <script type="text/javascript">
    	//mark page's active tab
        $('#navbar-home').addClass('active');
    </script>
    <!-- END NAVIGATION BAR -->
	<div class="container">
		<div class="pull-right" style="margin-right:-25px">
			<h1><i class="icon-arrow-up"></i>Login Here<i class="icon-arrow-up"></i></h1>
		</div>
		<br />
		<br />
		<h3 class="text-center"><em>or</em>	</h3>
	</div>
	<div class="container">
		<div class="page-header">
			<h2>Sign Up Instantly!</h2>
		</div>
		<form class="form-horizontal" id="register-form">
			<fieldset>
				{% csrf_token %}
				<div class="control-group">
					<label class="control-label" for="registerUsername">Username</label>
					<div class="controls">
						<input id="registerUsername" type="text" class="input-block-level input-large" placeholder="username">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="registerPassword">Password</label>
					<div class="controls">
						<input type="password" class="input-block-level input-large" placeholder="password" id="registerPassword">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="registerEmail">Email</label>
					<div class="controls">
						<input type="text" class="input-block-level input-large" placeholder="email" id="registerEmail">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button class="btn btn-large btn-primary" type="submit">Sign Up</button>
					</div>	
				</div>
			</fieldset>
		</form>
	</div>

</body>
