<!-- make sure bootstrap and jquery are loaded before this -->

<script type="text/javascript" src="/static/the_game_bazaar/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/the_game_bazaar/js/navbar.js"></script>
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <a href="" class="brand">The Game Bazaar</a>
        <ul class="nav">
            <li class="active"><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        {% if user.is_authenticated %}
            <form id="navbar-logout" class="navbar-form pull-right">
                {% csrf_token %}
                <button type="submit" class="btn">Logout</button> 
            </form>
        {% else %}
            <form id="navbar-login" class="navbar-form pull-right">
                {% csrf_token %}
                <input id="navbar-username" type="text" class="span2" placeholder="username">
                <input id="navbar-password" type="password" class="span2" placeholder="password">
                <button type="submit" class="btn">Submit</button>
            </form>
        {% endif %}
    </div>
</div>