<html>
    <head>
        <link href="/static/the_game_bazaar/css/bootstrap.css" rel="stylesheet">
        <script type="text/javascript" src="/static/the_game_bazaar/js/jquery-1.6.1.min.js"></script>
    </head>
    <body>
    	<!-- START NAVIGATION BAR -->
        {% include "the_game_bazaar/navbar.html" %}
        <script type="text/javascript">
        	//mark page's active tab
            $('#navbar-play').addClass('active');
        </script>
        <!-- END NAVIGATION BAR -->
        <div class="container">
	        <div class="page-header"><h1>Join!<small> or </small>Host!</h1></div>
	        <div class="row">
	        	<div class="span10">
	        		<div class="row">
	        			<div class="span5">
	        				<h3h>Join A Games:</h3>
							<form action="/game/join" method="POST">
							    {% csrf_token %}
								<input name="game-id" type="text" placeholder="game-id" />
								<button type="submit">Join</button>
							</form>
	        			</div>
	        				<h3>Host A Games:</h3>
							<form action="/game/host" method="POST">
							    {% csrf_token %}
								<input name="map-id" type="text" placeholder="map-id" />
								<button type="submit">Host</button>
							</form>
	        			<div class="span5">
	        			</div>
	        		</div>
	        	</div>
	        </div>
		</div>
	</body>
</html>