{% extends "lib/layouts/default.html" %}


{% block head %}
{% with page_title='Play a Game' active_tab='play' %}
{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}the_game_bazaar/js/play.js"></script>
{% endwith %}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="page-header"><h1>Join!<small> or </small>Host!</h1></div>
        <div class="row">
            <div class="span10">
                <div id="play-join">
                    <button id="play-host-button" class="btn btn-primary pull-right">Host a Game</button>
                    <h3>Join A Game:</h3>
                    <div id="play-join-table"></div>
                </div>
                <div id="play-host">
                    <button id="play-join-button" class="btn btn-primary pull-right">Join a Game</button>
                    <h3>Host A Game:</h3>
                    <div id="play-host-table"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
