#game-container {
    background-color: #050505;
}

#canvas-container {
    position: relative;
    margin: 0px auto;
    border: 1px solid black;
}

#game-ui {
    position: absolute;
    z-index: 100;
}
