#game-container {
    background-color: #050505;
}

#canvas-container {
    position: relative;
    margin: 0px auto;
    /* border: 1px solid black; */
}

#lobby-container {
	margin-left: 90px;
	margin-top: 40px;
}

#game-ui {
    position: absolute;
    z-index: 100;
}
