{% extends "lib/layouts/default.html" %}


{% block head %}
{% with page_title='Edit' active_tab='edit' %}
{{ block.super }}
    {% include "lib/head-game.html" %}
    <script>
        $(function() {
            var editor = window.editor = new Editor();
            if(window.location.hash != "") {
                //hash exists; load the map
                editor.loadMap(window.location.hash.substring(1));
            }
            editor.init();

            $('#save-button').click(function () {
                editor.saveMap();
            });

            $('#load-button').click(function() {
                var map_id = $('#load-id').val();
                window.location.hash = map_id;
            });
            $(window).bind('hashchange', function() {
                editor.loadMap(window.location.hash.substring(1));
            });

            window.palettes = [new UnitPalette(editor), new ObstaclePalette(editor)]; //TODO figure out a good way to do this
        });
    </script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}editor/css/editor.css" />
{% endwith %}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="span10">
            <div class="row">
                {% include "lib/game-canvas.html" %}
                <div id='ui_container' class="span5">

                    <input type='button' value='Units' onclick='editor.setPalette(window.palettes[0])'> <!-- TODO figure out a good way to do this -->
                    <input type='button' value='Obstacles' onclick='editor.setPalette(window.palettes[1])'> <!-- TODO figure out a good way to do this -->

                    <div id='palette'></div>

                    <div id='map_tools'>
                        Map id: <input id='load-id' type='text'> <input id='load-button' type='button' value='Load'><br>
                        <input id='save-button' type="button" value="Save"><br>
                        <h3>Map id:</h3><span id='map-id'></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
