canvas {
    margin: 0px auto;
    border: 1px solid black;
}

#palette {
    border: 5px ridge;
    padding: 10px;
    margin: 10px auto;
}

#ui_container {
    position: absolute;
    top: 50px;
    left: 810px;
}
