{% extends "lib/layouts/default.html" %}


{% block head %}
{% with page_title='Game Client' active_tab='play' %}
{{ block.super }}
    {% include "lib/head-game.html" %}
    <link href="{{ STATIC_URL }}game/css/game.css" rel="stylesheet">
    <script>
        $(function() {
            // DOM manipulation
            $().ready(function() {
                $('#game-container').hide();
                $('#lobby-container').hide();
                $('#lobby-host-screen').hide();
                $('#lobby-guest-screen').hide();
                $('#loading-container').show();
            });
            var game = new Game({{ game_id }});
            game.init();
            window.game = game;
        });
    </script>
{% endwith %}
{% endblock %}


{% block content %}
    <!-- LOADING MESSAGE CONTAINER -->
    <div id="loading-container">
        <h1 id="loading-message">Loading...</h1>
    </div>
    <!-- LOBBY CONTAINER -->
    <div id="lobby-container">
        <h1>Welcome to the lobby!</h1>
        <p>
        Your game id is {{ game_id }}

        <div id="lobby-host-screen">
            You are the host! Start the game with this button!
            <button id="start-game">Start Game!</button>
        </div>
        <div id="lobby-guest-screen">
            You are not the host. Please wait for the host to start the game.
        </div>
        <div id="player-list">
            <h3>And the players are..........</h3>
            <ul id='player-usernames'>
            </ul>
            </p>
        </div>
    </div>

    {% include "lib/game-canvas.html" %}
{% endblock %}
